.api-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

.api-search-container h1 {
  font-weight: bold;
  text-align: left;
  margin: 50px 0 20px 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 40px;
  background-color: #e6f7ff;
  border-radius: 16px;
  margin-bottom: 54px;
}

.search-container h1 {
  color: #262626;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 160px;
  margin-bottom: 35px;
  color: #fff;
}

.info-container {
  margin: 20px 0 40px 0;
  padding: 10px;
  width: 90%;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  background-color: #fff;
}

.result-container {
  display: flex;
  border: solid 1px #d9d9d9;
  background-color: #f5f5f5;
  color: #737373;
}

.profile-container h4 {
  font-size: 20px;
  font-weight: 500;
  color: #1890ff;
}

.result-container p {
  color: #737373;
}

.result-container h3 {
  margin: 0;
}

.profile-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  color: #737373;
  border-radius: 10px;
}

.img-container {
  width: 90%;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .search-input {
    width: 480px;
  }
}
