.main-nav {
  display: flex;
  min-height: 70px;
  padding-left: 10px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
}

.main-menu {
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
}

.main-menu a,
.main-menu a:hover {
  color: #00285f;
}

.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-menu ul li {
    padding-left: 20px;
  }

  .main-menu {
    justify-content: flex-end;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .nav-logo-text,
  .nav-logo-text:hover {
    padding-left: 20px;
  }
  .main-menu ul li {
    padding-left: 100px;
  }
}
