.main-nav {
    display: flex;
    min-height: 70px;
    padding-left: 10px;
}

.nav-logo-text, .nav-logo-text:hover {
    color: #00285F;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu a, .main-menu a:hover {
    color: #00285F;
}

.main-menu a.active {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .nav-logo-text, .nav-logo-text:hover {
        padding-left: 100px;
    }

    .main-menu {
        display: flex;
        font-size: 18px;
        padding-right: 100px;
        width: 920px;
        justify-content: flex-end;
    }
}

